* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}



.kelompok-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.kelompok {
  float: left;
  width: 20%;
  /*width: 300px;*/
}

.kelompok-icon {
  position: relative;
  height: 100%;
  width : 100%;
  margin: 10px;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center

}
/*
.kelompok-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}*/

.kelompok-icon .mask, .kelompok-icon .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 10%;
    left: 0;
    z-index: 3;

    /*border: solid 1px black;*/
}
.kelompok-icon img {
    display: block;
    position: relative;
    max-height: 200px;
    top : 10px;
    left : 6px;
}

.kelompok-icon .img-top {
  display: none;
  position: absolute;
  z-index: 2;
}

.kelompok-icon h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 12px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 10px 0 0 0;
}
.kelompok-icon p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center
}

.kelompok-icon a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
    margin-top : 100px;
}
.kelompok-icon a.info:hover {
    box-shadow: 0 0 5px #000
}

.hover-mask img {  
  transition: all 0.2s ease-in;
}
.hover-mask .mask { 
  background-color: rgba(115,146,184, 0.7); 
  width: 100%;
  padding: 300px;
  height: 100%;
  opacity: 0;
  transform: translate(265px, 145px) rotate(45deg);
  transition: all 0.2s ease-in-out;
}
.hover-mask h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
  transition: all 0.2s ease-in-out;
}
.hover-mask p { 
  transform: translate(-200px, 200px);
  transition: all 0.2s ease-in-out;
}
.hover-mask a.info { 
    transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
} 

.hover-mask:hover .img-top {
  display: inline;
}

.hover-mask:hover .mask { 
  opacity:1; 
  transform: translate(-80px, -125px) rotate(45deg);
}               
.hover-mask:hover h2 { 
  transform: translate(0px,0px);
  transition-delay: 0.3s; 
}
.hover-mask:hover p { 
    transform: translate(0px,0px); 
  transition-delay: 0.4s;
}
.hover-mask:hover a.info { 
  transform: translate(0px,0px); 
  transition-delay: 0.5s;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
